#info {
    background: #08a3d3;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info h3 {
    margin: 10px;
}

#info dt {
    text-decoration-line: underline;
    font-weight: 600;
    margin-top: 5px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-doc {
    margin: 20px;
}

.horario dd {
    margin-bottom: 5px;
}

.horario h4 {
    margin-top: 25px;
}
.map img {
    margin: 20px;
    height: 300px;
    width: 370px;
    border: 7px solid #a3a3a3;
}


@media (min-width:480px) {
    .info-doc .map img {
        width: 40%;
    }
    
}

@media (min-width:480px) {
    .info-doc .map {
        width: 60%;
    }
    
}