.info-nosotros h2 {
    text-align: center;
    text-decoration: overline;
    margin-bottom: 20px;
    font-style: italic;
}

.img-nosotros {
    width: 100%;
}


.img-nosotros p {
    text-align: center;
    padding: 0px 30px 0px;
    line-height: 24px;
}


#nosotros figure {
    height: 140px;
    width: 200px;
    overflow: hidden;
    position: relative;
    border: 3px solid #a3a3a3;
}


#nosotros figure img {
    width: 100%;
     height: 100%;
    max-width: 280px;
}
 
#nosotros article {
    justify-content: center;
    margin: 15px;
    align-items: center;
}

#nosotros .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.holdingcontainer {
    width: 100%;
    display: flex;
}

.internalcontainer {
    flex: 1;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.internalcontainer p {
    margin-top: 10px;
    width: 200px;
    font-family: 'Open sans', sans-serif;
    font-style: italic;
}

